<h2>Register</h2>
<form (ngSubmit)="register()" #registerForm="ngForm">
    <div class="mb-4">
        <label for="username" class="block">Username: </label>
        <input 
            id="username"
            name="username"
            [(ngModel)]="username"
            required
            minlength="4"
            #usernameField="ngModel"
        />
        @if (usernameField.invalid && usernameField.touched) {
        <div>
            <p>Username is required and must be at least 4 characters long.</p>
        </div>
    }
    </div>
    
    <div class="mb-4">
        <label for="password" class="block">Password: </label>
        <input 
            id="password"
            name="password"
            type="password"
            [(ngModel)]="password"
            required
            minlength="7"
            class="border p-2 w-full"
            #passwordField="ngModel"
        />
        @if (passwordField.invalid && passwordField.touched) {
            <div>
                <p>Password is required and must be at least 7 characters long</p>
            </div>
        }
    </div>

    <button
        type="submit"
        [disabled]="registerForm.invalid"
    >
    Register
    </button>

</form>